---
- name: Ensure UFW is installed
  apt:
    name: ufw
    state: present

- name: Allow SSH through firewall
  ufw:
    rule: allow
    name: OpenSSH

- name: Enable UFW
  ufw:
    state: enabled

- name: Harden SSH - disable root login
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^PermitRootLogin'
    line: 'PermitRootLogin no'
  notify: restart ssh

- name: Create deploy user
  user:
    name: deploy
    comment: "Deployment User"
    shell: /bin/bash
    groups: sudo
    state: present
    create_home: yes

- name: Add SSH key for deploy user
  authorized_key:
    user: deploy
    key: "{{ lookup('file', 'files/deploy_id_rsa.pub') }}"
  
